{:deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  org.slf4j/slf4j-nop {:mvn/version "1.7.25"}
  org.clojure/data.csv {:mvn/version "0.1.4"}}

 :aliases
 {:nrepl {:extra-deps {org.clojure/tools.nrepl {:mvn/version "0.2.13"}}}
  :cider {:extra-deps {cider/cider-nrepl {:mvn/version "0.18.0"}}}}}
